# Основные зависимости
Django==6.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

# Документация
drf-spectacular==0.26.5
python-dotenv==1.0.0

# Дополнительные
django-cors-headers==4.9.0
django-filter==25.2
stripe==5.5.0

# База данных (опционально)
psycopg2-binary==2.9.11

# Кэширование (опционально)
django-redis==5.3.0
redis==5.0.1
